wheel
asgiref
boto3~=1.20.20
botocore~=1.23.20
certifi
cffi
charset-normalizer
cryptography
defusedxml
Django
django-allauth
django-rest-framework
djangorestframework~=3.13.1
idna
jmespath
django-cors-headers
oauthlib
psycopg2
pycparser
PyJWT
python-dateutil
python3-openid
pytz
requests
requests-oauthlib
s3transfer
six
sqlparse
tzdata
urllib3
gunicorn
numpy
razorpay
docxtpl
simplejson
pandas
pycryptodome
Crypto
fiscalyear
num2words
djangorestframework-simplejwt